@font-face { font-family: UVNHoaKy; src: url('/Website/assets/font/UVNHOAKY.TTF'); }
@font-face { font-family: SquarePeg; src: url('/Website/assets/font/SquarePeg-Regular.ttf'); } 
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SquarePeg', sans-serif;
  letter-spacing: 0.1em;
  scroll-margin-top: 2em;
}
html {
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 0.4vw;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: rgb(0 0 0 / 50%);                                      
}
::-webkit-scrollbar-track {
    border-radius: 100vw;
    box-shadow: inset 0 0 0.2em rgb(0 0 0 / 60%);
    background: rgb(184 184 184 / 50%);
}
:root {
    --clr: #222327;
    --black: rgb(40 40 40);;
    --white: #fff;
    --red: rgb(255, 0, 0);
    --small: 60%;
    --reg: 1;
    --out: -250%;
    --in: 0%;
    --header_height:5vh;
    --footer_height:10vh;
    --main_height: 80vh;
    --card_height:calc(80vh - 1em);
    --card_width: calc(var(--card_height)*.5);
    --anim_duration: 0.5s;
    --anim_delay: 0.1s;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.fd-column {
    flex-direction: column;
}
.jc-space-between {
    justify-content: space-between;
}
.jc-space-around {
    justify-content: space-around;
}
.jc-space-evenly {
    justify-content: space-evenly;
}
.jc-right {
    justify-content: right;
}
.jc-center {
    justify-content: center;
}
.ac-center {
    align-content: center;
}
.ji-center {
    justify-items: center;
}
.ai-center {
    align-items: center;
}
.ai-baseline {
    align-items: baseline;
}
.ai-top {
    align-items: flex-start;
}
.ai-end {
    align-items: flex-end;
}
.ai-left{
    align-items: flex-start;
}
.text-baseline {
    vertical-align:baseline;
}
.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}
.bg-black {
    background-color: #111;
}
.color-white {
    color: #fff;
}
.color-green {
    color: #00FF1A;
}
.color-red {
    color: var(--red);
}
.text-underline {
    text-decoration: underline;
}
body {
    display: flex;
    flex-flow: row;
    color: var(--black);
}
.fade-in-anim {
    animation: fadeIn var(--anim_duration) ease-out forwards;
}
.fade-out-anim {
    animation: fadeOut var(--anim_duration) ease-out forwards;
}
.scale-reset-anim {
    animation: scale-reset var(--anim_duration) ease-in-out forwards;
}
.scale-down-anim {
    animation: scale-down var(--anim_duration) ease-in-out forwards;
}
.expand-anim {
    animation: expand-to-right 2s ease-in-out forwards;
}
.shrink-anim {
    animation: shrink-to-right 2s ease-in-out forwards;
}
.popin-anim {
    animation: pop-in var(--anim_duration) ease-in-out forwards;
    /* animation-delay: var(--anim_delay); */
}
.blur-anim {
	animation: blur 4s ease-out forwards;
	/* -webkit-animation: blur 4s ease-out infinite; */
}
.open-anim {
    animation: slide-in-left var(--anim_duration) ease-in-out forwards;
}
.close-anim {
    animation: slide-out-left var(--anim_duration) ease-in-out forwards;
}

@keyframes blur {
	0%		{text-shadow:  0 0 20em #fff; opacity:0;color: transparent;}
	50%		{text-shadow:  0 0 10em rgb(0, 0, 0);color: transparent;}
    90%	    {text-shadow:  0 0 0px var(--red);color: transparent;}
    100%    {opacity:1;color: var(--red);}
}
@keyframes fadeIn {
    0% {opacity: 0;visibility: hidden;}
    /* 90% {opacity: 0;} */
    100% {opacity: 1;visibility: visible;}
}
@keyframes fadeOut {
    0% {opacity: 1;visibility: visible;}
    /* 90% {opacity: 0;} */
    100% {opacity: 0;visibility: hidden;}
}
@keyframes scale-down {
    0% {transform: scale(var(--reg));}
    100% {transform: scale(var(--small));}
}
@keyframes scale-reset {
    0% {transform: scale(var(--small));}
    100% {transform: scale(var(--reg));}
}
@keyframes slide-in-left {
    0% {transform: translateX(var(--out));}
    100% {transform: translateX(var(--in));}
}
@keyframes slide-out-left {
    0% {transform: translateX(var(--in));}
    100% {transform: translateX(var(--out));}
}
@keyframes expand-to-right {
    0% {width: 0;}
    60% {width: 0vw;}
    100% {width: 20vw;}
}
@keyframes shrink-to-right {
    0% {width: 100vw;}
    60% {width: 100vw;}
    100% {width: 80vw;}
}
@keyframes pop-in {
    0% {opacity: 0;visibility: hidden;scale: 0;}
    80% {opacity: 1;visibility: visible;scale: 120%;}
    100% {opacity: 1;visibility: visible;scale: 100%;}
}
.nav-open .nav {
    width: 10vw;
  }
  
  .nav-open .main,
  .nav-open #background {
    width: 90vw;
  }

  .nav {
    width: 0;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    transition: width 0.5s;
    /* overflow: hidden; */

    z-index: 1500;
  }
  
  .nav-links-container {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
    padding: 7vw 0;
    height: 100%;
  }
  
  .nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    text-decoration: none;
    color: #dddddd;
  }
  .nav__link img{
    width: 4em;
    height: 2.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.2em rgb(0 0 0);
    margin: 0.5em 2em;
    background: #92ffe491;
    padding: 0.5em 0.5em;
}
  .nav__text {
    font-size: 2rem;
    font-weight: bolder;
  }
  
  .nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
  }
.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    transition: width 0.5s;
    position: relative;
}
header
{
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header_height);
  padding: 2em 2em;
  z-index: 2;
  visibility: hidden;
}
header .logo
{
  color: var(--red);
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'UVNHoaKy',sans-serif;
}
.search {
    color: aliceblue;
    flex: 1;
}
.search input {
    width: 100%;
    margin: 0 0.5em;
    font-size: 1.5em;
    outline: none;
    border: none;
    background: transparent;
}
.search i {
    font-size: 1.5em;
    margin: 0 0.5em;
    cursor: pointer;
    transition: .4s linear;
}

.search-bar {
    border-radius: 100vh;
    outline: none;
    border: none;
    background: transparent;
    color: var(--black);
    transition: var(--anim_duration) ease-in-out;
    -webkit-transition: var(--anim_duration) ease-in-out;
    width: 0;
    overflow: hidden;
}
.search-bar.active {
    width: 40%;
    margin: 0 1em;
    padding: 0 1em;
    background: var(--white);
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 1);
    overflow: visible;
}
.search-box {
    width: 90%;
    max-height: 40vh;
    top: 2em;
    background: #022a43;
    overflow: auto;
}

.search-link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    transition: .3s linear;
    cursor: pointer;
}
.search-link:hover {
    background: #92ffe442;
}
.search-link .icon{
    height: 2.5em;
    margin: 0.5em 1em;
    background-size: contain;
    background-repeat: no-repeat;
    flex:1
}
.search-link .search-content{
    color: white;
    letter-spacing: 0.3em;
    flex: 6;
}
.search-link .search-content h5{
    font-size: 13px;
}
.search-link .search-content p{
    color: rgb(255, 255, 255,0.7);
    font-size: 11px;
    font-weight: 500;
}
.language {
    /* flex: 1; */
    margin-left: 2em;
}

.bg-image {
    background-image: url("/Website/assets/img/bg_Image1.png");
    filter: blur(.5em);
    -webkit-filter: blur(.5em);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #111;
  transition: 0.5s;
  z-index: 0;
  padding: 5em;
}
#title.close{
    visibility: hidden;
}
.container video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aa9caf;
  mix-blend-mode: overlay;
}
.text
{
  z-index: 0;
  top: 0;
  left: 0;  
}
.inline {
    top: 0;
    left: 0;
    width: 100%;
}
h2 {
    font-family: 'UVNHoaKy',sans-serif;
}
.text h2
{
  font-size: 10em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'UVNHoaKy',sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;

}
.text h3
{
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'UVNHoaKy',sans-serif;
  margin-right: 0.5em;
}
.text p
{
  font-size: 2em;
  color: #fff;
  font-weight: 400;
  line-height: 1em;
  max-width: 700px;
  margin-right: 0.5em;
  vertical-align: bottom;
}
footer
{
  width: 100%;
  z-index: 2;
  /* visibility: hidden; */
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  padding: 0 2em 1em;
}
footer p {
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}
.menu
{
    display: flex;
    height: inherit;
    align-items: flex-end;
}
.list
{
    list-style: none;
    margin: 0 1em;
    width: var(--footer_height);
    height: var(--footer_height);
}
.menu button
{
    width: 100%;
    height: var(--footer_height);
    position: relative;
    padding: 1em 1em;
    transition: all 0.5s;
    /* background-color: rgb(0 255 26 / 10%); */
    background-color: rgba(255, 255, 255, 5%);
    mix-blend-mode: screen;
    outline: 0;
    border: 0;
    /* border-radius: 50%; */
    box-shadow: 0.5em 0.5em .8em 0.1em rgba(0, 0, 0, 5);
    cursor: pointer;
    opacity: 0;
    backdrop-filter: blur(1em);
}
.menu button:after {
    content: "";
    display: block;
    position: absolute;
    /* border-radius: 50%; */
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 1em 1em var(--white);
    
}
.menu button:active:after {
    box-shadow: 0 0 0 0 var(--white);
    position: absolute;
    /* border-radius: 50%; */
    left: 0;
    top:0;
    opacity: 1;
    transition: all 0.1s;
    background-color: #92ffb3a4;
}
.menu button:active {
    top: 0.3em;
}
.menu button.active {
    background-color: #00ff1ab3;
    box-shadow: 0em 1em 1em -0.1em rgba(0, 0, 0,0.5)
}
.menu button.inactive {
    background-color: rgb(0 255 26 / 10%);
    box-shadow: 0.2em 0.3em 0em 0.1em rgba(0, 0, 0, 5)
}
.menu .texttile {
    height: 0;
    color: aliceblue;
    padding: 0 0.2em;
    font-size: 2em;
    text-decoration: none;
    font-weight: 1000;
    letter-spacing: 2px;
    opacity: 0;
    transition: all var(--anim_duration) ease-in-out;
}
.menu .texttile.active {
    opacity: 1;
    height: var(--footer_height);
}
.menu .icon {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    color: var(--clr);
}
.menu .icon img {
    width: 100%;
    height: 100%;
}
.menu .icon.active {
    transform: translateY(3em);
}
#scan_btn {
    background: url(/Website/assets/img/qr\ icon.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: var(--footer_height);
    transition: all 0.5s;
}
#scan_btn:active:after {
    background-color: transparent;
}
.sub-container {
    width: 100%;
    height: var(--main_height);
    z-index: 1;
    background: transparent;
    /* background: #00FF1A; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transition: all var(--anim_duration) ease-in-out;
    padding: 1em 2em 2em 0;
    overflow: auto; */
}
.rules-section {
    /* background: red; */
    background: transparent;
    width: inherit;
    height: inherit;
    padding: 5em;
    opacity: 0;
    transition: all calc(var(--anim_duration)/2) ease-in-out;
    visibility: hidden;
}
.rule-container {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 2em;
    color: #00FF1A;
    letter-spacing: 0.1em;
    font-family: 'UVNHoaKy',sans-serif;
    font-weight: bolder;
}
.cards-section {
    /* background: blue; */
    width: inherit;
    height: inherit;
}
.card-container {
    width: inherit;
    height: inherit;
    padding: 1em 0;
    overflow: auto;
}
.scan-section {
    background: yellow;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: all calc(var(--anim_duration)/2) ease-in-out;
    visibility: hidden;
}
.hide {
    display: none;
}
.show {
    opacity: 1;
    visibility: visible;
}
.card-menu {
    transform: translateX(var(--out));
    background-color: rgb(184 184 184 / 10%);
    background-size: contain;
    background-position: center;
    overflow: auto;
    background-repeat: no-repeat;
    text-align: right;
    min-width: fit-content;
    flex: 1;
    scroll-behavior: smooth;
}
.card-bg {
    text-align: center;
    color: white; 
}
.card-menu img {
    /* width: 100%; */
    height: var(--main_height);
    display: block;
}
.card-list {
list-style: none;
}

.card-list-details {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 2em;
    color: #00FF1A;
    letter-spacing: 0.04em;
}
.card-list-arrow {
    width: 2em;
    height: 2em;
    background: url(/Website/assets/img/Component\ 2\ –\ 34.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}
.content-area {
    font-size: 2em;
    transition: all var(--anim_duration) ease-in-out;
    opacity: 1;
    overflow: auto;
    text-align: center;
    min-width: var(--card_width);
    flex: 1;
    scroll-behavior: smooth;
}
.content-area::-webkit-scrollbar {
    display: none;
  }
.focus {
    backdrop-filter: blur(.5em);
    box-shadow: 0.5em 0.25em 0.3em 0px rgb(0 0 0 / 80%);
    opacity: 1;
    
}
.content-list {
    list-style: none;
    transition: all 0.2s ease-in-out;
}
.content-list.active{
    opacity: 1;
}
.content-list.inactive{
    opacity: 0;
}
.content {
    background-image: url('/Website/assets/img/card_omen_blank.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--card_width);
    height: var(--card_height);
    background-position: center;
    padding: 2em 1.2em;
    overflow: auto;
}
.content-detail {
    font-weight: bold;
}
.row_detail {
    padding: 0.5em 0;
    text-align: left;
}
.content h2 {
    font-size: 1em;
    /* font-family: 'Grenze Gotisch', cursive; */
}
.content p {
    white-space: pre-wrap;
}

.row_name p {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 0.5em;
    letter-spacing: 0;
}
.space {
    flex:1;
    width: 100%;
}

@media (max-width: 991px)
{
  .container,
  .container header
  {
    /* padding: 40px; */
  }
  .text h2
  {
    /* font-size: 3em; */
  }
  .text h3
  {
    /* font-size: 2em; */
  }
}


.card-holder{
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .card{
    background-color: var(--accent);
    color: #fff;
    line-height: 1.8;
    padding: 1em 5em;
  }
  .card:hover {
    background-color: rgb(255 255 255 / 15%);
  }
  .highlight {
    background-color: rgb(255 255 255 / 15%);
  }
/* ---------------- QR SECTION ----------- */
#reader {
    width: 500px;
  }
  
  .result {
    background-color: green;
    color: #fff;
    padding: 20px;
  }
  
  .row {
    display: flex;
  }
  
  #reader__scan_region {
    background: white;
  }